---
import BaseLayout from "../lib/layouts/BaseLayout.astro";

const title = "Contact Us";
const description = "Contact us";
---

<BaseLayout {title} {description}>
  <main>
    <div class="wrapper my-8">Contact Us</div>
  </main>
</BaseLayout>
