---
import HeroImage from "../lib/components/HeroImage.astro";
import LatestPostsSection from "../lib/components/LatestPostsSection.astro";
import Categories from "../lib/components/Categories.astro";
import LatestPosts from "../lib/components/LatestPosts.astro";
import BaseLayout from "../lib/layouts/BaseLayout.astro";

const title = "Welcome to my Humble Blog";

const description = "Some description";
---

<BaseLayout {title} {description}>
  <HeroImage />
  <div class="wrapper grid lg:grid-cols-4 gap-8">
    <main class="lg:col-span-3">
      <LatestPostsSection />
    </main>
    <aside class="md:mt-8">
      <Categories />
      <LatestPosts />
    </aside>
  </div>
</BaseLayout>
