---
import HeroImage from "../lib/components/HeroImage.astro";
import LatestPostsSection from "../lib/components/LatestPostsSection.astro";
import BaseLayout from "../lib/layouts/BaseLayout.astro";

const title = "Welcome to my Humble Blog";
const description = "Some description";
---

<BaseLayout {title} {description}>
  <HeroImage />
  <main class="wrapper grid lg:grid-cols-3 gap-4 lg:gap-8 my-6">
    <LatestPostsSection />
  </main>
</BaseLayout>
