---
import { getCollection } from "astro:content";
import { filterPosts, slugify } from "../utils/helpers";

const allPosts = await getCollection("posts");
const filteredPosts = filterPosts(allPosts);

const uniqueCategories = [
  ...new Set(filteredPosts.map((post) => post.data.category).flat()),
] as string[];
---

<section class="mb-10">
  <h2 class="text-2xl font-semibold font-oswald mb-4 heading">Categories</h2>
  <div class="flex flex-wrap gap-2">
    {
      uniqueCategories.map((category) => (
        <a
          href={`/category/${slugify(category)}`}
          class="bg-sand-light hover:bg-sand-medium focus:bg-sand-medium rounded-lg p-2"
        >
          {category}
        </a>
      ))
    }
  </div>
</section>
