---
import { getCollection } from "astro:content";
import { filterPosts, slugify } from "../utils/helpers";

const allPosts = await getCollection("posts");
const filteredPosts = filterPosts(allPosts);

const uniqueCategory = [
  ...new Set(filteredPosts.map((post) => post.data.category).flat()),
] as string[];
---

<section class="mb-10">
  <h2 class="text-2xl font-semibold font-oswald mb-4 heading">Categories</h2>
  <ul class="divide-y">
    {
      uniqueCategory.map((category) => (
        <li class="py-2 md:py-1 text-lg">
          <a href={`category/${slugify(category)}`}>{category}</a>
        </li>
      ))
    }
  </ul>
</section>
