---
import { getCollection } from "astro:content";
import { filterPosts } from "../utils/helpers";

const allPosts = await getCollection("posts");
const filteredPosts = filterPosts(allPosts, { limit: 6 });
---

<section class="my-8">
  <h2 class="text-2xl font-semibold font-oswald mb-4 heading">Recent Posts</h2>
  <ul class="divide-y">
    {
      filteredPosts.map((post) => (
        <li class="py-2 text-lg hover:underline underline-offset-2">
          <a href={`blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</section>
