---
import { getCollection } from "astro:content";
import { filterPosts } from "../utils/helpers";
import Card from "./Card.astro";
import FeaturedCard from "./FeaturedCard.astro";

const allPosts = await getCollection("posts");
const filteredPosts = filterPosts(allPosts, { limit: 11 });
---

<div class="md:col-span-2 mb-6">
  {filteredPosts.slice(0, 1).map((post) => <FeaturedCard {post} />)}
</div>

{filteredPosts.slice(1).map((post) => <Card {post} />)}
