---
import { getCollection } from "astro:content";
import { filterPosts } from "../utils/helpers";

const allPosts = await getCollection("posts");
const filteredPosts = filterPosts(allPosts, { limit: 6 });
---

<section class="bg-gray-200 p-4 my-4">
  <h2 class="text-2xl font-semibold font-oswald mb-4">Recent Posts</h2>
  <ul>
    {
      filteredPosts.map((post) => (
        <li class="mb-2 hover:underline underline-offset-2">
          <a href={`blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))
    }
  </ul>
</section>
