---
import { getCollection } from "astro:content";
import { filterPosts } from "../utils/helpers";
import Card from "./Card.astro";

const allPosts = await getCollection("posts");
const filteredPosts = filterPosts(allPosts, { limit: 6 });
---

<section class="my-6">
  <h2 class="font-oswald text-4xl font-semibold mb-2">Latest Posts!</h2>
  <span class="text-2xl block mb-10">Get the latest updates...</span>
  <div class="card-container">
    {filteredPosts.map((post) => <Card {post} />)}
  </div>
</section>
