---
import { getCollection } from "astro:content";
import { filterPosts, slugify, unslugify } from "../utils/helpers";

const allPosts = await getCollection("posts");
const filteredPosts = filterPosts(allPosts);

const uniqueTags = [
  ...new Set(filteredPosts.map((post) => post.data.tags).flat()),
] as string[];
---

<section class="my-6">
  <h2 class="text-2xl font-semibold font-oswald mb-4 heading">All Tags</h2>
  <div class="flex flex-wrap gap-2">
    {
      uniqueTags.map((tag) => (
        <a
          href={`/tags/${tag}`}
          class="bg-sand-light hover:bg-sand-medium focus:bg-sand-medium rounded-lg p-2"
        >
          {tag}
        </a>
      ))
    }
  </div>
</section>
