---
import { getCollection } from "astro:content";
import {
  filterPosts,
  generateTagData,
  slugify,
  unslugify,
} from "../utils/helpers";

const allPosts = await getCollection("posts");
const filteredPosts = filterPosts(allPosts);

const uniqueTags = [
  ...new Set(filteredPosts.map((post) => post.data.tags).flat()),
] as string[];

const tagData = generateTagData(uniqueTags);
---

<section class="my-6">
  <h2 class="text-2xl font-semibold font-oswald mb-4 brand-heading">
    All Tags
  </h2>
  <div class="flex flex-wrap gap-2">
    {
      tagData.map((tag) => (
        <a
          href={`/tag/${tag.slug}`}
          class="bg-gray-200 hover:bg-gray-300 rounded-lg p-2"
        >
          {tag.name}
        </a>
      ))
    }
  </div>
</section>
